.header-profile{
    height: 200px;
    width: 100%;
    object-fit: cover;
}


.header-profile-picture{
     
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 140px;
    border: 3px white solid;

    }

.overlay-picture {
    position: absolute;
    height: 200px;
    width: 200px;

    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 140px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
  .text-overlay-picture {
      cursor: pointer;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  
  }

.header-picture:hover .overlay-picture{
  opacity: 0.9;
  
}

.menu-profile{
    line-height: 1em;
    color: black;

}

.menu-profile:hover{
    color: grey;
    cursor: pointer;
}